<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>City Description</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../assets/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row detail-row">
        <div class="col-xs-4 col-xs-offset-4 detail-container">
          <h2><%=  city.name %></h2>
          <p><%=  city.description %></p>
        </div>
      </div>
    </div>

  </body>
</html>
