<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>City Description</title>
    <link rel="stylesheet" href="./../public/assets/style.css">
  </head>
  <body>
    <div class="container-city">
    <h2><%=  city.name %></h2>
    <p>
      <%=  city.description %>

    </p>
    </div>

  </body>
</html>
